<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <h2>Contact</h2>
        </div>
      </div>
    </div>
  </div>

  <div id="contactForm" class="center-align"> 
 
<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input-nom" class="autocomplete">
          <label for="autocomplete-input-nom">Nom</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i>
            <input type="text" id="autocomplete-input-prenom" class="autocomplete">
            <label for="autocomplete-input-prenom">Prenom</label>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">textsms</i>
              <input type="text" id="autocomplete-input-mail" class="autocomplete">
              <label for="autocomplete-input-mail">E-mail</label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input-objet" class="autocomplete">
                <label for="autocomplete-input-objet">Objet</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                  <label for="textarea2">Textarea</label>
                </div>
              </div>
            </form>
          </div>

      
        </div>