<div class="card-panel hoverable" > <img src="assets/img/jeCode.jpg" alt=""> Hoverable Card Panel

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec efficitur urna, et tempor ligula. Praesent non sapien in augue maximus cursus. Duis gravida nec metus eget sodales. Aenean non fringilla enim. Praesent sit amet consectetur sapien, sodales iaculis urna. Curabitur vel faucibus lacus. Pellentesque ac dui nec urna viverra bibendum a a lacus. Donec imperdiet ligula quis metus gravida posuere. Nulla sollicitudin neque turpis, eu dapibus magna scelerisque eget. Quisque nec auctor magna. Curabitur at mattis ante. In mollis arcu vel urna accumsan, eu accumsan nunc cursus. Proin eu ligula varius, egestas ipsum ut, feugiat augue. Phasellus at finibus lacus.

    Nulla elementum tincidunt nulla. Aliquam interdum egestas eleifend. Integer porta ante id interdum placerat. Nunc malesuada arcu non nisl pharetra, ullamcorper efficitur est efficitur. Duis blandit facilisis urna nec ullamcorper. Morbi eleifend tristique placerat. Sed pharetra maximus lectus, in feugiat tellus hendrerit et. Ut sed tincidunt nunc. Proin mollis lorem quis metus scelerisque placerat. Fusce urna mauris, eleifend id metus et, rutrum fermentum justo. Vivamus ullamcorper iaculis lorem, id feugiat erat efficitur vel. Suspendisse potenti. Maecenas augue urna, lacinia at dui id, sodales tincidunt augue. Fusce convallis ante quis consectetur ornare. Sed hendrerit lobortis enim a ultrices.
    
    Curabitur eget tempus tortor. Proin quis nunc ut ipsum egestas elementum. Nam vehicula ornare elementum. Phasellus blandit augue nec justo vehicula fermentum. Nulla diam nibh, convallis nec facilisis in, gravida at risus. Nunc in est feugiat, faucibus leo sed, auctor magna. Phasellus sed odio nec libero egestas scelerisque sed ultricies ante. Donec nec augue dictum, rutrum ligula id, laoreet leo. Nulla vehicula, diam id semper facilisis, ante tortor eleifend risus, vitae aliquet lorem nulla et odio. Ut odio mauris, laoreet at venenatis quis, laoreet vel odio. Aenean vestibulum, lorem eu luctus scelerisque, massa ante fringilla ipsum, sit amet auctor lacus lectus ac magna. Cras elementum lacinia gravida.
    
    Sed tempor lectus et arcu porttitor hendrerit. Phasellus vitae lacus sem. Ut ultricies velit ut nisi porta pharetra. Duis et nisl nunc. Etiam eget pulvinar tortor. Aliquam at vehicula nisi. Nulla vehicula eleifend vulputate. Fusce at velit odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla massa ac elit ultrices molestie. Quisque a eros vel nibh iaculis vehicula. Ut quis mauris est. Curabitur sed elit sit amet eros porttitor laoreet.
    
    Donec eros elit, vestibulum eget leo sit amet, blandit malesuada libero. Suspendisse congue lobortis arcu eu tempus. Nulla suscipit libero id metus dapibus, vitae scelerisque risus eleifend. Vivamus rhoncus nulla a enim iaculis sollicitudin. Nam scelerisque euismod bibendum. Vestibulum vestibulum vel enim eu tristique. Duis tempor aliquam laoreet. Integer quis quam iaculis, facilisis mauris sit amet, eleifend orci. Quisque nec nulla id tortor molestie feugiat. Nullam dignissim feugiat vestibulum. Maecenas a nisl nunc. Donec viverra commodo turpis. Vestibulum sit amet laoreet metus. Etiam semper bibendum nunc a consectetur.</p>

</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/images/philosophy.png">
                <span class="card-title">My Philosophy</span>
            </div>
            <div class="card-content">
                <p>
                    I always focusing on the performance and My goal is to create user-friendly and timeless websites that attract human eyes.
                </p>
                <p>
                    Reading and trying out new ideas is how I have furthered my knowledge, keeping up to date with the latest technologies.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/images/mission.jpg">
                <span class="card-title">My Mission</span>
            </div>
            <div class="card-content">
                <p>
                    I am highly motivated, enthusiastic and a very reliable developer with a 'can do' attitude. I am always looking to increase my knowledge and learn new technologies and skills.
                </p>
                <p>I love developing cross-platform iOS and Android applications.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/images/process.jpg">
                <span class="card-title">My Process</span>
            </div>
            <div class="card-content">
                <p>
                    When I undertake a project, I don't just complete it, I go the extra mile and make it better than requested.
                </p>
                <ul>
                    <li class="collection-item">Planning</li>
                    <li class="collection-item">Design</li>
                    <li class="collection-item">Data Architecture</li>
                    <li class="collection-item">Development</li>
                    <li class="collection-item">Launch &amp; Support</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/images/philosophy.png">
                <span class="card-title">My Philosophy</span>
            </div>
            <div class="card-content">
                <p>
                    I always focusing on the performance and My goal is to create user-friendly and timeless websites that attract human eyes.
                </p>
                <p>
                    Reading and trying out new ideas is how I have furthered my knowledge, keeping up to date with the latest technologies.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/images/mission.jpg">
                <span class="card-title">My Mission</span>
            </div>
            <div class="card-content">
                <p>
                    I am highly motivated, enthusiastic and a very reliable developer with a 'can do' attitude. I am always looking to increase my knowledge and learn new technologies and skills.
                </p>
                <p>I love developing cross-platform iOS and Android applications.</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="/images/process.jpg">
                <span class="card-title">My Process</span>
            </div>
            <div class="card-content">
                <p>
                    When I undertake a project, I don't just complete it, I go the extra mile and make it better than requested.
                </p>
                <ul>
                    <li class="collection-item">Planning</li>
                    <li class="collection-item">Design</li>
                    <li class="collection-item">Data Architecture</li>
                    <li class="collection-item">Development</li>
                    <li class="collection-item">Launch &amp; Support</li>
                </ul>
            </div>
        </div>
    </div>
</div>